body{
    background-color: white;
}

.page-header{
    background-color:#37b3cf; 
    height: 10vh;
    width: 100vw;
    color: white;
    
}
.header-title{
display:flex;
justify-content: center; 
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 30px;
padding-top: 45px;
}


.page-footer{
    top: 400px;
    background-color: #37b3cf;
    height: 10vh;
    width: 100vw;

}

.body-section{
    height: 80vh;
    width: 100vw; 
    background-image: url(../assets/images/national-cancer-institute-unsplash.jpg);
    background-color: #37b3cf;
    background-size: cover;
}