body{
    background-color: white;
}

.page-header{
    background-color:#37b3cf; 
    opacity:  .9;
    height: 15vh;
    width: 100vw;
    color: rgba(255, 255, 255, .8);
    display: flex;
    flex-direction:column;
   
    
}
.header-title{
display:flex;
justify-content: center; 
align-items: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 40px;
padding-top: 10px;
}


.header-nav{
    font-size: 30px;
    display: flex;
    justify-content: center;
    
    
}

nav a {
    text-decoration: none !important;
    color: rgba(255, 255, 255, .8);
    margin: 0px 5px 0px 5px;
  }
  
nav a:hover {
    color: white;
    opacity: 1;

  }




.body-section{
    height: 75vh;
    width: 100vw; 
    background-image: url(../assets/images/nicholas-green-unsplash.jpg);
    background-color: #37b3cf; 
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}


.container{
    height: 70vh; 
    width: 80vw;
    border: 3px rgba(240, 236, 236, 0.1) solid;
    border-radius: 25px;
    padding: 5px;
    background-color:rgba(255, 255, 255, .3);
    box-shadow: 0px -15px 10px rgba(255,255,255, .1);
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }

    .container:hover{
        opacity: .8;
    }
    .page-footer{
        top: 400px;
        background-color: #37b3cf;
        opacity:  1;
        height: 10vh;
        width: 100vw;
        display: flex; 
        justify-content: center;
        align-items: center;
        
    
    }

    .copyright-logo{
        color: rgba(255, 255, 255, .8);
        font-size: 15px;

    }


    @media only screen and (max-width:920px){
        .header-title{
            font-size: 30px;
            padding-top: 5px;
        }
        .header-nav{
            font-size: 20px;
        }
    }

    @media only screen and (max-width:600px){


        .body-section{
            background-position: center;
        }
        .page-header{
            height: 10vh;
        }
        .body-section{
            height: 80vh;
        }

        .header-title{
          font-size: 20px;
          
        }
        .header-nav{
            font-size: 15px;
        }

        .container{
            height: 70vh; 
            width: 90vw;
            border: 3px rgba(240, 236, 236, 0.1) solid;
            border-radius: 25px;
            padding: 5px;
            background-color:rgba(255, 255, 255, .3);
            box-shadow: 0px -15px 10px rgba(255,255,255, .1);
            display:flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            }


            .copyright-logo{
                color: white;
                font-size: 10px;
        
            }
      }
    
    